flows.json
[{"id":"288358b6.780398","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6b79ee.5e9776","type":"inject","z":"288358b6.780398","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":300,"wires":[["2cba3389.22ba8c"]]},{"id":"ddfaeca6.d1074","type":"debug","z":"288358b6.780398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"2cba3389.22ba8c","type":"function","z":"288358b6.780398","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["ddfaeca6.d1074"]]}]